/* .profile-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
} */

.profile-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-between;
}

/* .profile-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
} */
