/* .profile-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
} */

title {
  padding: 50px;
  margin-top: 30px;
}

h4 {
  padding: 10px;
}

.profile-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-between;
}

.app-description {
  /* width: 80%; */
  padding: 40px 400px;
  font-size: 1.1rem;
}
