title {
  padding: 50px;
  margin-top: 30px;
}

h4 {
  padding: 10px;
}

.profile-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-between;
}

.app-description {
  margin: 0 auto 0px auto;
  max-width: 70%;
  padding-bottom: 30px;
  font-size: 1.1rem;
  color: #fcf8e8;
}

.title {
  font-size: 50px;
  color: #ded7b1;
  letter-spacing: 30px;
  margin-bottom: 40px;
}

.app-intro {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #fcf8e8;
  margin-bottom: 30px;
}

.background {
  background-size: cover;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.3)
    ),
    url("https://external-preview.redd.it/5Z46TFp75aYIjpjcfwmA-DTad0tAtrp0OfAU364m708.jpg?auto=webp&s=1da51ffb854bea9b4f9b34b81c56969395648342");
  background-position: 0% 10%;
  margin-bottom: 30px;
}
